.nav {
    background-color: slategray;
    min-height: 75px;
  }
  
.nav-link {
  font-family: "Trebuchet MS";
  font-weight: bold;
  font-size: 50px;
  color: white;
  margin: auto;
}


form {
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 5%;
}

.employee-count {
  margin: auto;
  padding: 2%;
}

.list-headers {
  margin: 1% 0;
  padding: 2% 0;
  font-weight: bold;
  background-color: gray;
}

.item-row {
  margin: 1% 0;
}

.row {
  text-align: center;
  margin: 1% 0;
  padding: 2% 0;
}